<!DOCTYPE html>
<html lang="en">
<head>
 
    <link rel="stylesheet" href="~/Content/campstyle.css">
   
</head>
<body class="" style="background-image: url(~/Content/img/background.png);background-repeat: no-repeat; background-size:cover; background-position:fixed; position:inherit;">

    <!--Conteúdo Principal-->

    <main class="d-flex">


        <div class="container mx-auto">
            <!--Container-->
            <div class="row text-white justify-content-center">
                <!--row-->

                <h4>TABELA DE JOGOS</h4>
                <div class="col-md -10 col-lg-8 mx-10 my-5 rounded" id="Campeonato">
                    <img src="~/Content/img/jogoscampeonato.png" alt="" class="col-12 img-fluid" id="img-planos">

                </div>

                <div class="col-md-10 col-lg-5 mx-4 my-5 pb-2 rounded" id="planos-vip">

                    <h4>Minha Equipe</h4>
                    <ul>
                        <li>TÉCNICO</li>
                        <li>GOLEIRO</li>
                        <li>JOGADOR 1</li>
                        <li>JOGADOR 2</li>
                        <li>JOGADOR 3</li>
                        <li>JOGADOR 4</li>
                        <li>JOGADOR 5</li>

                    </ul>

                </div>

                <div class="col-md-10 col-lg-3 mx-4 my-5 rounded" id="planos">

                    <h4>Equipes Inscritas</h4>
                    <ul>
                        <li>EQUIPE 1 | EQUIPE 9</li>
                        <li>EQUIPE 2 | EQUIPE 10</li>
                        <li>EQUIPE 3 | EQUIPE 11</li>
                        <li>EQUIPE 4 | EQUIPE 12</li>
                        <li>EQUIPE 5 | EQUIPE 13</li>
                        <li>EQUIPE 6 | EQUIPE 14</li>
                        <li>EQUIPE 7 | EQUIPE 15</li>
                        <li>EQUIPE 8 | EQUIPE 16</li>


                    </ul>

                </div>



                <div class="col-md-10 col-lg-3 mx-2 my 5 pb-6 rounded" id="planos-vip">

                    <h4>Informações</h4>


                </div>

            </div><!--fim row-->
        </div><!--fim container-->

    </main>




    <!-- Rodapé -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="barra-lateral col-md-2">
                    <img src="~/Content/imgfutlife.svg" width="142">
                </div>
                <div class="col-md-2">
                    <h4>Sobre nós</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id lorem nec massa fringilla ultrices ut sit amet justo</p>
                </div>

                <div class="col-md-2">
                    <h4>E-mail</h4>
                    <p>Tem alguma dúvida?</p>
                    contato@futlife.com
                </div>

                <div class="col-md-2">
                    <h4>Telefone</h4>
                    <p>Ligue a qualquer hora</p>
                    (31)99999-9999
                </div>


            </div>
        </div>
    </footer>

    <!-- Rodapé -->
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>