<!DOCTYPE html>
<html lang="en">
<head>
   
    <link rel="stylesheet" href="~/Content/loginstyle.css">
</head>

<body>

  
    <!--Conteúdo Principal -->
    <div id="login-container">
        <h3 style="color: black;">Login</h3>
        <form action="">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Digite seu e-email" autocomplete="off">
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" placeholder="Digite sua senha">
            <a href="#" id="forgot-pass">Esqueceu a senha?</a>
            <input type="submit" value="Login">
        </form>
        <div id="social-container">
            <p>Ou entre pelas suas redes sociais</p>
            <i class="fa fa-facebook-f"></i>
            <i class="fa fa-linkedin"></i>
        </div>

        <div id="register-container">
            <p>Ainda não tem uma conta?</p>
            <a href="#">Registrar</a>
        </div>

    </div>

    <!-- Rodapé -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="barra-lateral col-8 col-sm-8 col-md-2">
                    <img scr="~/Content/imgfutlife.svg" width="142">
                </div>
                <div class="col-md-2">
                    <h4>Sobre nós</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id lorem nec massa fringilla ultrices ut sit amet justo</p>
                </div>

                <div class="col-md-2">
                    <h4>E-mail</h4>
                    <p>Tem alguma dúvida?</p>
                    contato@futlife.com
                </div>

                <div class="col-md-2">
                    <h4>Telefone</h4>
                    <p>Ligue a qualquer hora</p>
                    (31)99999-9999
                </div>


            </div>
        </div>
    </footer>
    <!-- Fim Rodapé -->
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>