<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="~/Content/planostyle.css">
   

</head>
<body class="" style="background-image: url(img/background.png);background-repeat: no-repeat; background-size:cover; background-position:fixed; position:inherit;">

    
    <!--Conteúdo Principal-->

    <main class="d-flex">


        <div class="container mx-auto">
            <!--Container-->
            <div class="row text-white justify-content-center">
                <!--row-->

                <div class="col-md-10 col-lg-3 mx-4 my-5 rounded" id="planos">
                    <img scr="~/Content/imgplano01.png" alt="" class="col-12 img-fluid" id="img-planos">
                    <h4>INCLUI</h4>
                    <ul>
                        <li>1 JOGO NA SEMANA</li>
                        <li>Coletes gratuitos</li>
                        <li>1 BOLA</li>
                    </ul>
                    <a href="@Url.Action("Pagamentos","Home")"><button type="button" class="btn btn-success w-100  my-4" id="botao">Assinar</button></a>
                </div>

                <div class="col-md-10 col-lg-3 mx-4 my-5 pb-2 rounded" id="planos-vip">
                    <img scr="~/Content/imgplano03.png" alt="" class="col-12 img-fluid" id="img-planos">
                    <h4>INCLUI</h4>
                    <ul>
                        <li>3 JOGOS NA SEMANA</li>
                        <li>COLETES GRATUITOS</li>
                        <li>2 BOLAS</li>
                        <li>CHURRASQUEIRA 2xP MÊS</li>
                    </ul>
                    <a href="@Url.Action("Pagamentos","Home")"><button type="button" class="btn btn-success w-100" id="botao">Assinar</button></a>
                </div>

                <div class="col-md-10 col-lg-3 mx-4 my-5 rounded" id="planos">
                    <img scr="~/Content/imgplano02.png" alt="" class="col-12 img-fluid" id="img-planos">
                    <h4>INCLUI</h4>
                    <ul>
                        <li>2 JOGOS NA SEMANA</li>
                        <li>COLETES GRATUITOS</li>
                        <li>1 BOLA</li>
                        <li>CHURRASQUEIRA 1xP MÊS</li>
                    </ul>
                    <a href="@Url.Action("Pagamentos","Home")"><button type="button" class="btn btn-success w-100" id="botao">Assinar</button></a>
                </div>


            </div><!--fim row-->
        </div><!--fim container-->

    </main>




    <!-- Rodapé -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="barra-lateral col-md-2">
                    <img scr="~/Content/imgfutlife.svg" width="142">
                </div>
                <div class="col-md-2">
                    <h4>Sobre nós</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id lorem nec massa fringilla ultrices ut sit amet justo</p>
                </div>

                <div class="col-md-2">
                    <h4>E-mail</h4>
                    <p>Tem alguma dúvida?</p>
                    contato@futlife.com
                </div>

                <div class="col-md-2">
                    <h4>Telefone</h4>
                    <p>Ligue a qualquer hora</p>
                    (31)99999-9999
                </div>


            </div>
        </div>
    </footer>

    <!-- Rodapé -->
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>