<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="~/Content/homestyle.css">
    

</head>

<body style="background-image: url(img/background.png);background-repeat: no-repeat; background-size:cover; background-position:fixed; position:inherit;">

   
    <!-- CARROSSEL -->

    <main class="d-flex">

        <div class="container">
            <div class="row">

                <div id="carouselExampleIndicators" class="carousel slide col-11 col-sm-11 col-lg-8 col-md-11 d-flex my-5 mx-auto" data-bs-ride="carousel"
                     style="position: relative; top: 3.5vw; height: 550px;">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner rounded" style="border: solid white 3px;">
                        <div class="carousel-item active">
                            <a href="#"> <img src="~/Content/img/carrossel01.png" height="550px" width="920px" class="d-flex rounded col-12" alt="..."></a>
                        </div>
                        <div class="carousel-item">
                            <a href="#"> <img src="~/Content/img/carrossel02.png" height="550px" width="920px" class="d-flex rounded col-12" alt="..."></a>
                        </div>
                        <div class="carousel-item">
                            <a href="#"> <img src="~/Content/img/carrossel03.png" height="550px" width="920px" class="d-flex rounded col-12" alt="..."></a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>

                </div>
                <!-- CARROSSEL -->
                <!-- Barra Lateral -->

                <div class="col-md-5 my-5 mx-auto d-block" style="width: 355px; padding-top: 45px;">
                    <div class="quadras">
                        <h4 class="text-white rounded text-center" style="background-color: rgba(0, 0, 0, 0.39); border:solid white 3px; margin-bottom: 3vh;">Quadras</h4>
                    </div>

                    <img class="rounded mb-3 my-1" src="~/Content/img/quadra1.jpg" width="333px" height="149" alt="" style="border:solid white 3px;">
                    <img class="rounded mb-3 my-1 " src="~/Content/img/quadra2.jpeg" width="333px" height="150" alt="" style="border:solid white 3px;">
                    <img class="rounded mb-3 my-1" src="~/Content/img/quadra3.jpg" width="333px" height="150" alt="" style="border:solid white 3px;">

                </div>


            </div>  <!--Row-->
        </div> <!--Container-->
    </main>




    <!-- Rodapé -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="barra-lateral col-8 col-sm-8 col-md-2">
                    <img scr="~/Content/img/futlife.svg" width="142">
                </div>
                <div class="col-md-2">
                    <h4>Sobre nós</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id lorem nec massa fringilla ultrices ut sit amet justo</p>
                </div>

                <div class="col-md-2">
                    <h4>E-mail</h4>
                    <p>Tem alguma dúvida?</p>
                    contato@futlife.com
                </div>

                <div class="col-md-2">
                    <h4>Telefone</h4>
                    <p>Ligue a qualquer hora</p>
                    (31)99999-9999
                </div>


            </div>
        </div>
    </footer>

    <!-- Rodapé -->
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>